*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button,
input,
textarea {
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

ul > li:first-child,
ol > li:first-child {
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #eaeaea;
}

body {
  min-height: 100vh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.header {
  background-color: #1b2357;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 1rem 2rem;
  max-width: 1400px;
}

.header__logo img {
  height: 40px;
}

.header__nav__menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .header__nav__menu {
    display: none !important;
  }
}

.header__nav__menu__item {
  margin-left: 2rem;
}

.header__nav__menu__link {
  color: #8794BA;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .header__nav__menu__link {
    font-size: 16px;
  }
}

.header__nav__menu__link:hover {
  color: white;
}

.header__auth .header__sign-up {
  display: inline !important;
  white-space: nowrap;
  border: 2px solid #465B95;
  color: #465B95;
  width: 200px;
  font-weight: 400;
  padding: 14px 50px;
  border-radius: 68px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .header__auth .header__sign-up {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .header__auth .header__sign-up {
    font-size: 16px;
  }
}

.header__auth .header__sign-up:hover {
  background: #465B95;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__auth .header__sign-up:focus {
  background: #364672;
  color: white;
}

.header__burger {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block !important;
  }
}

.hero {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../assets/images/background-top.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .hero {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    background: url("../assets/images/background-top.svg") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 102vh;
  }
}

.hero__content {
  padding: 64px 32px;
  margin: 12% auto;
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  .hero__content {
    padding: 0 32px 160px 32px;
    margin: 0 auto 12% auto;
  }
}

.hero__content__title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hero__content__title {
    font-size: 50px;
  }
}

.hero__content__description {
  color: #8794BA;
  margin-bottom: 2rem;
}

.hero__content__button {
  background-color: #ff007a;
  color: white;
  width: 200px;
  font-weight: 400;
  padding: 14px 50px;
  border-radius: 68px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1024px) {
  .hero__content__button {
    display: block;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero__content__button {
    font-size: 16px;
  }
}

.hero__content__button:hover {
  background: #D61069;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero__content__button:focus {
  background: #A60C51;
}

.hero__image img {
  display: block !important;
  max-width: 873px;
}

@media screen and (max-width: 1024px) {
  .hero__image img {
    display: none !important;
  }
}

.hero__mobile__charts img {
  margin: auto;
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .hero__mobile__charts img {
    display: block !important;
  }
}

.features {
  padding: 4rem 2rem;
  background-color: #f5f6fa;
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .features {
    text-align: left;
  }
}

.features__title {
  margin-bottom: 2rem;
  color: #1b2357;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .features__title {
    font-size: 40px;
  }
}

.features__text {
  display: block;
}

.features__items {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #8794BA;
}

@media screen and (max-width: 768px) {
  .features__items {
    display: none !important;
  }
}

.features__items__item {
  padding: 2rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
}

.features__items__item__icon {
  max-width: 50px;
  margin-bottom: 1.5rem;
}

.features__items__item__item-title {
  color: #1b2357;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.features__items__item__item-description {
  color: #4a4a4a;
  font-size: 1rem;
  text-align: center;
}

.features__mobile-items {
  display: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .features__mobile-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.features__mobile-items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 5% auto;
  width: 80%;
}

.features__mobile-items__item__title {
  color: #1b2357;
  margin-bottom: 1rem;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}

.features__mobile-items__item__description {
  color: #8794BA;
  font-size: 16px;
  text-align: left;
}

.features__mobile-items__item__icon {
  margin-right: 10%;
  width: 60px;
}

.registration {
  padding: 4rem 2rem;
}

.registration__container {
  max-width: 1440px;
  background: white;
  border-radius: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #1b2357;
  font-weight: 700;
}

.registration__image {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  background-color: #1b2357;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media screen and (max-width: 768px) {
  .registration__image {
    display: none !important;
  }
}

.registration__form {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration label {
  color: #1b2357;
  margin: 10px 10%;
  font-weight: 700;
  font-size: 16px;
}

.registration input, .registration select {
  margin: 0 10%;
  background-color: #EEEEF6;
  padding: 14px 20px;
  border-radius: 8px;
}

.registration input:focus, .registration select:focus {
  background: white;
  border: 2px solid #172755;
}

.registration option {
  background: white;
  margin: 10px;
}

.registration__submit {
  background-color: #ff007a;
  color: white;
  margin: 5% auto;
  width: 200px;
  font-weight: 400;
  padding: 10px;
  border-radius: 68px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 768px) {
  .registration__submit {
    font-size: 16px;
  }
}

.registration__submit:hover {
  background: #D61069;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.registration__submit:focus {
  background: #A60C51;
}

.pricing {
  padding: 86px 32px 2% 32px;
}

.pricing hr {
  margin: 20% 0;
  border: 1px solid #EEEEF6;
}

.pricing__container {
  max-width: 1440px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pricing__container {
    text-align: left;
  }
}

.pricing__container__title {
  margin: 15% 0 0 0;
  color: white;
  font-weight: 700;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .pricing__container__title {
    font-size: 40px;
  }
}

.pricing__container__description {
  color: #8794BA;
  font-size: 16px;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .pricing__container__description {
    font-size: 18px;
  }
}

.pricing__container__plans {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  margin-top: 10%;
}

@media screen and (max-width: 600px) {
  .pricing__container__plans {
    display: none !important;
  }
}

.plan {
  border-radius: 30px;
  padding: 2% 4%;
  margin: 0 2%;
  text-align: center;
  min-width: 240px;
}

@media screen and (min-width: 1200px) {
  .plan {
    min-width: 338px;
  }
}

.plan__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 5%;
}

@media screen and (min-width: 768px) {
  .plan__title {
    font-size: 40px;
  }
}

.plan__description {
  font-size: 16px;
  color: #8794BA;
}

@media screen and (min-width: 768px) {
  .plan__description {
    font-size: 18px;
  }
}

.plan__price {
  font-size: 40px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .plan__price {
    font-size: 50px;
  }
}

.plan__order {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  font-weight: 400;
  padding: 14px 0;
  border-radius: 68px;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 20% 0 10% 0;
}

.plan__order:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.plan__default {
  border: 2px solid #465B95;
  background: #172755;
}

.plan__default__order {
  border: 2px solid #465B95;
  color: #465B95;
}

.plan__default__order:hover {
  background: #465B95;
}

.plan__default__order:focus {
  background: #364672;
  color: white;
}

.plan__active {
  border: none;
  background: white;
}

.plan__active__title, .plan__active__price {
  color: #1b2357;
}

.plan__active__order {
  background-color: #ff007a;
}

.plan__active__order:hover {
  background: #D61069;
}

.plan__active__order:focus {
  background: #A60C51;
}

.owl-carousel {
  display: none !important;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .owl-carousel {
    display: block !important;
  }
}

.footer {
  background: url("../assets/images/background-bottom.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  padding: 2rem 0;
  color: white;
}

@media screen and (max-width: 1024px) {
  .footer {
    background: url("../assets/images/background-bottom.svg") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
}

.footer__container {
  border-top: 2px solid #eeeef62d;
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer__logo img {
  height: 40px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer__social__social-link img {
  height: 20px;
}

.footer__nav__menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer__nav__menu {
    display: none !important;
  }
}

.footer__nav__menu__item {
  margin-left: 2rem;
}

.footer__nav__menu__link {
  color: #8794BA;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer__nav__menu__link {
    font-size: 16px;
  }
}

.footer__nav__menu__link:hover {
  color: white;
}

.burger_menu {
  position: absolute;
  top: -100%;
  height: 100vh;
  width: 100%;
  background-color: #1b2357;
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger_menu__content {
  padding: 25% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger_menu__content__links {
  font-size: 28px;
  font-weight: 700;
  color: #8794BA;
}

.burger_menu__content__links__link {
  margin: 30px 0;
}

.burger_menu__content__sing-up {
  white-space: nowrap;
  border: 2px solid #465B95;
  text-align: center;
  color: #465B95;
  width: 100%;
  font-weight: 400;
  padding: 14px 80px;
  border-radius: 68px;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger_menu__content__sing-up:hover {
  background: #465B95;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger_menu__content__sing-up:focus {
  background: #364672;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#burger_menu {
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

#burger_menu.open {
  top: 0;
}

.custom-select {
  position: relative;
  background-color: #EEEEF6;
  margin: 0 10%;
  border-radius: 8px;
}

.custom-select .select-selected {
  border-radius: 8px;
  padding: 14px 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-select .select-selected:after {
  content: "\02C5";
  padding-left: 10px;
  color: #4a4a4a;
}

.custom-select .select-selected.select-active {
  background-color: white;
  border: 2px solid #172755;
}

.custom-select .select-items {
  position: absolute;
  background-color: white;
  border: 2px solid #EEEEF6;
  border-radius: 5px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 0;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
}

.custom-select .select-items div {
  padding: 10px;
  cursor: pointer;
}

.custom-select .select-items div:hover {
  background-color: #EEEEF6;
}

.custom-select .select-hide {
  display: none;
}

.custom-select .select-selected-active {
  border-radius: 5px 5px 0 0;
}

.custom-select .select-arrow-active:after {
  content: "\02C4";
}

.custom-select .select-items .selected {
  background-color: #172755;
  color: white;
}

.custom-select .selected:hover {
  background-color: #172755 !important;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  background-color: #f5f6fa;
}
/*# sourceMappingURL=main.css.map */