.footer {
  @include responsive-background("../assets/images/background-bottom.png","../assets/images/background-bottom.svg");
    padding: 2rem 0;
    color: white;
  
    &__container {
      border-top: 2px solid #eeeef62d;
      max-width: 1440px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }
  
    &__logo img {
      height: 40px;
    }
  
    &__social {
      display: flex;
      gap: 1rem;
  
      &__social-link img {
        height: 20px;
      }
    }

    &__nav {
      &__menu {
        @include responsive-display(none, flex, 768px);
        list-style: none;
  
        &__item {
          margin-left: 2rem;
        }
  
        &__link {
          color: $secondary-text-color;
          text-decoration: none;
          font-weight: bold;
          @include responsive-font(14px, 16px);
  
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  