.header {
    background-color: $secondary-color;
    position: sticky;
    top: 0;
    z-index: 1000;
  
    &__container {
      @include flex-center;
      justify-content: space-between;
      margin: auto;
      padding: 1rem 2rem;
      max-width: 1400px;
    }
  
    &__logo img {
      height: 40px;
    }
  
    &__nav {
      &__menu {
        @include responsive-display(none, flex);
        list-style: none;
  
        &__item {
          margin-left: 2rem;
        }
  
        &__link {
          color: $secondary-text-color;
          text-decoration: none;
          font-weight: bold;
          @include responsive-font(14px, 16px);
  
          &:hover {
            color: white;
          }
        }
      }
    }
  
    &__auth .header__sign-up {
      @include responsive-display(none, inline);
      border: 2px solid $secondary-button-color;
      color: $secondary-button-color;
      width: 200px;
      font-weight: 400;
      padding: 14px 80px;
      border-radius: $button-border-radius;
      text-decoration: none;
      @include responsive-font(14px, 16px);
      transition: 0.2s;
    }

    &__auth .header__sign-up:hover {
      background: $secondary-button-color;
      color: white;
      transition: 0.2s;
    }
  }
  