.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../../assets/images/background-top.png") no-repeat;



    &__content {
      padding: 4rem 2rem;
  
      &__title {
        color: white;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 1rem;
      }
  
      &__description {
        color: $secondary-text-color;
        margin-bottom: 2rem;
      }
  
      &__cta {
        background-color: $primary-color;
        color: white;
        padding: 1rem 2rem;
        border-radius: $border-radius;
        text-decoration: none;
        font-weight: bold;
        @include responsive-font(16px, 18px);
      }
    }
  
    &__image img {
      max-width: 100%;
    }
  }
  