.pricing {
  padding: 86px 32px 2% 32px;

  hr {
    margin: 20% 0;
    border: 1px solid #EEEEF6;
  }

  &__container {
    max-width: 1440px;
    margin: auto;
    @include responsive-text-align();

    &__title {
      margin: 15% 0 0 0;
      color: white;
      font-weight: 700;
      @include responsive-font(28px, 40px);
    }
  
    &__description {
      color: $secondary-text-color;
      @include responsive-font(16px, 18px);
      line-height: 25px;
    }

    &__plans {
      @include responsive-display(none, flex, 600px);
      justify-content: space-between;
      overflow-x: auto;
      margin-top: 10%;
    }
  }
}

.plan {
  border-radius: 30px;
  padding: 2% 4%;
  margin: 0 2%;
  text-align: center;
  @include responsive-width(240px, 338px);

  &__title {
    @include responsive-font(32px, 40px);
    font-weight: 700;
    margin-top: 5%;
  }

  &__description {
    @include responsive-font(16px, 18px);
    color: $secondary-text-color;
  }

  &__price {
    @include responsive-font(40px, 50px);
    font-weight: 700;
  }

  &__order {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-weight: 400;
    padding: 14px 0;
    border-radius: 68px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
    margin: 20% 0 10% 0;
  }

  &__order:hover {
    color: white;
    transition: 0.2s;
  }

  &__default {
    border: 2px solid $secondary-button-color;
    background: $focus;

    &__order {
      border: 2px solid #465B95;
      color: #465B95;
    }

    &__order:hover {
      background: #465B95;
    }

    &__order:focus {
      background: $secondary-button-pressed;
      color: white;
    }
  }

  &__active {
    border: none;
    background: white;

    &__title, &__price {
      color: $secondary-color;
    }

    &__order {
      background-color: $primary-color;
    }

    &__order:hover {
      background: $primary-button-hover;
    }

    &__order:focus {
      background: $primary-button-pressed;
    }
  }
}

.owl-carousel {
  @include responsive-display(block, none, 600px);
  margin-top: 20px;
}