*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button,
input,
textarea {
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

ul > li:first-child,
ol > li:first-child {
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #eaeaea;
}

body {
  min-height: 100vh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
