$primary-color: #ff007a;
$primary-button-hover: #D61069;
$primary-button-pressed: #A60C51;

$secondary-color: #1b2357;
$secondary-button-color: #465B95;
$secondary-button-pressed: #364672;

$text-color: #4a4a4a;
$background-color: #f5f6fa;
$secondary-text-color: #8794BA;
$background-inputs: #EEEEF6;

$font-stack: 'Roboto', sans-serif;
$border-radius: 8px;
$button-border-radius: 68px;
 
$focus: #172755;